/* Import Bulma */
@import 'bulma/css/bulma.css';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Styles */
::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }
  html {
    color-scheme: dark;
    height: 100%;
    margin: 0;
    padding: 0;
  }
}

html {
  min-width: 360px;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #333333;
  color: #ffffff;
}

body {
  font-family: 'GeistSans', sans-serif;
}

.hero {
  background-color: #1c1c1e;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.fade-in {
  animation: fadeIn 2.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.box-shadow-hover {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.box-shadow-hover:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.card-header-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  margin-right: 8px;
}

.image.is-128x128 {
  max-width: 128px;
  max-height: 128px;
}

.buttons.is-centered.is-left-desktop {
  justify-content: center;
  justify-content: flex-start;
}

.content {
  text-align: left;
}

.navbar {
  background-color: #1c1c1e;
}

.navbar-burger {
  color: #fff;
}

.navbar-item {
  color: #fff;
}

.navbar-item:hover {
  background-color: #333;
  color: #fff;
}

/* Project card styles */
.project-card {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  background-color: #161B22;
  border: 1px solid #30363D;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.project-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  transform: translateY(-10px);
}

.project-image {
  object-fit: cover;
}

.section {
  padding: 1rem 1.5rem;
}

@media (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}

/* Ensure card text is white */
.card .title, .card .subtitle, .card .content, .card a {
  color: white;
}

.card a {
  text-decoration: underline;
}

/* Icon styles */
.icon-white {
  color: white !important;
}

.jumbotron-image {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border: 4px solid white;
  border-radius: 50%;
}

.image.is-256x256 {
  max-width: 256px;
  max-height: 256px;
}

.text-content {
  flex-grow: 1;
  max-width: 40%;
}

.text-content .title {
  font-size: 2.5rem;
}

.text-content .subtitle {
  font-size: 1.5rem;
}

.buttons .icon {
  font-size: 2rem;
  margin-right: 1rem;
}

.tech-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  text-align: center;
}

.tech-info .icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tech-info .icon {
  font-size: 2rem;
  margin: 0.5rem;
}

.glow {
  animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff, 0 0 20px #ff00ff, 0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 55px #ff00ff, 0 0 75px #ff00ff;
  }
  to {
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 75px #ff00ff, 0 0 100px #ff00ff;
  }
}

.jumbotron-image {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
}

.icon-white {
  color: white;
  transition: transform 0.3s;
}

.icon-white:hover {
  transform: scale(1.2);
}

/* Hover effect for profile section cards */
.hover-card {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  background-color: #161B22;
  border: 1px solid #30363D;
  border-radius: 12px;
  overflow: hidden;
}

.hover-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  transform: translateY(-10px);
}
.custom-background {
  background-color: #161B22;
  border: 1px solid #30363D;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-card-header {
  background-color: #0D1117;
}

.custom-input {
  background-color: #0D1117;
  color: #C9D1D9;
}

.custom-input::placeholder {
  color: #8B949E;
}
