/* Import Bulma */
@import 'bulma/css/bulma.css';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Styles */
::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #C9D1D9;
  background-color: #14161a;
}

html {
  min-width: 360px;
}

.hero {
  background-color: #14161a;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar {
  background-color: #14161a;
}

.navbar-burger {
  color: #fff;
}

.navbar-item {
  color: #fff;
  margin-right: 10px; /* Add margin to space out the items */
  transition: box-shadow 0.3s ease, border 0.3s ease;
  border: 1px solid transparent; /* Initial transparent border */
}

.navbar-item:hover {
  color: #fff;
}

/* Project card styles */
.project-card, .hover-card {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  background-color: #14161a;
  border: 1px solid #30363D;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.project-card:hover, .hover-card:hover {
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.5);
  transform: translateY(-10px);
}

.section {
  padding: 1rem 1.5rem;
}

@media (max-width: 768px) {
  .custom-container {
    flex-direction: column-reverse; /* Stack elements vertically */
    align-items: center;
    text-align: center; /* Center align text for mobile */
  }

  .text-content, .tech-info {
    max-width: 100%; /* Full width for mobile */
    margin-bottom: 1rem;
  }

  .image.is-256x256 {
    max-width: 150px; /* Adjust image size for mobile */
    max-height: 150px;
  }
}

/* Ensure card text is white */
.card .title, .card .subtitle, .card .content, .card a {
  color: white;
}

.card a {
  text-decoration: underline;
}

/* Icon styles */
.icon-white {
  color: white !important;
}

.jumbotron-image {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border: 4px solid white;
  border-radius: 50%;
}

.image.is-256x256 {
  max-width: 200px;
  max-height: 200px;
}

.text-content {
  flex-grow: 1;
  max-width: 45%;
}

.text-content .title {
  font-size: 2rem;
  color: #C9D1D9;
}

.text-content .subtitle {
  font-size: 1.25rem;
  color: #8B949E;
}

.buttons .icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.tech-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tech-info .icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tech-info .icon {
  font-size: 1.5rem;
  margin: 0.5rem;
  color: #C9D1D9;
}

.glow {
  animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff, 0 0 20px #ff00ff, 0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 55px #ff00ff, 0 0 75px #ff00ff;
  }
  to {
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 75px #ff00ff, 0 0 100px #ff00ff;
  }
}

/* Custom Hero Section Styles */
.custom-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh; /* Reduced height */
  background-color: #343A40; /* Secondary background color */
  border-radius: 25px; /* Rounded corners */
  margin: 1rem auto; /* Center the hero section */
  max-width: 1000px; /* Reduced max width to fit content better */
  color: #CED4DA; /* Match the text color */
}

.custom-hero-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.custom-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 25px; /* Rounded corners for the container */
  padding: 1rem;
  width: 90%; /* Reduced width */
}

/* Ensure text color matches */
.custom-hero .title,
.custom-hero .subtitle,
.custom-hero .has-text-white {
  color: #CED4DA; /* Match the text color */
}

/* Hover effects for intro card elements */
.custom-hero .buttons a {
  transition: transform 0.3s ease, color 0.3s ease;
}

.custom-hero .buttons a:hover {
  transform: scale(1.1);
  color: #F8F9FA; /* Light background color */
}

.custom-hero .tech-info .icon {
  transition: transform 0.3s ease, color 0.3s ease;
}

.custom-hero .tech-info .icon:hover {
  transform: scale(1.1);
  color: #F8F9FA; /* Light background color */
}

/* Profile cards size and layout */
.profile-section .card {
  height: 100%;
  background-color: #14161a;
  border: 1px solid #30363D;
}

.profile-section .column {
  display: flex;
  justify-content: center;
}

.profile-section .columns {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.profile-section .card {
  display: flex;
  width: 100%;
  max-width: 300px; /* Adjust the maximum width as needed */
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.profile-section .card:hover {
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.5);
  transform: translateY(-10px);
}

.card-header-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-icon {
  margin-right: 15px;
}

.header-text {
  display: inline-block;
  vertical-align: middle;
}

/* Skills Section Styles */
.skills-section .box {
  background-color: #14161a; /* Match the background color */
  border: 1px solid #30363D; /* Add border similar to other cards */
  border-radius: 12px; /* Rounded corners */
  transition: box-shadow 0.3s ease, transform 0.1s ease; /* Add transition for hover effect */
}

.skills-section .box:hover {
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.5); /* Box shadow on hover */
  transform: translateY(-10px); /* Lift effect on hover */
}

/* Footer Styles */
.footer {
  background-color: #14161a; /* Match the background color */
  color: #FFFFFF; /* White text color */
  padding: 2rem 0; /* Increased padding for better spacing */
  text-align: center; /* Center text alignment */
  display: flex;
  justify-content: center; /* Center footer content horizontally */
  align-items: center; /* Center footer content vertically */
  flex-direction: column; /* Stack elements vertically */
}

.footer-content {
  display: flex;
  justify-content: center; /* Center items horizontally */
  gap: 0.5rem; /* Space between buttons */
}

.footer-button {
  color: #FFFFFF; /* White text color for buttons */
  background: none; /* No background color */
  /* border: 1px solid #FFFFFF; White border */
  display: flex;
  align-items: center; /* Center align the content */
  padding: 0.25rem 0.5rem; /* Smaller padding for the button */
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effects */
  text-decoration: none; /* Remove underline from links */
  font-size: 0.8rem; /* Smaller text size */
}

.footer-button:hover {
  background-color: #495057; /* Darker background on hover */
  color: #F8F9FA; /* Light text color on hover */
  transform: translateY(-3px); /* Slight lift on hover */
}

.footer-button svg {
  margin-right: 8px; /* Space between icon and text */
  fill: currentColor; /* Inherit color */
}

.certifications-spacing {
  margin-right: 0.5rem; /* Add some space to the right of the icon */
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form input,
.contact-form textarea {
  background-color: #2e2e3e;
  color: #fff;
  border: 1px solid #444;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #5a5a7a;
  box-shadow: none;
}

.contact-form button {
  background-color: #5a5a7a;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #444;
}

.columns {
  margin-top: 2rem;
}

/* Add margin-top to the ContactForm column */
.contact-form-column {
  margin-top: 10rem;
}

.card-header-title .icon {
  margin-right: 0.5rem; /* Add some space to the right of the icon */
}
